{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotrone top-jumbo glassonSM ml-5 row">
    <div class="col-12 col-md-6 col-md-6 offset-md-1">
        <h1> The Home of Project Contacts</h1>
        <div style="max-width:600px">
            <h4 class="blockquote" style="line-height:42px;"><em>Welcome to the home of Project Contacts - the smart way to organize and connect your business contacts with your projects. Streamline collaboration, stay in control, and never lose track of key subcontractors. Make every connection count!</em></h4>
        </div>
        <div class="jumbotrone blueglass row" style="margin-top:30px; padding:10px;">
            <div class="col-md-6">
                <div class="d-flex align-items-start mt-3">
                    <span class="circleMd frontIcon m-2"><i class="fas fa-search"></i></span>
                    <h3 class="lead mt-3 text-light">Search contacts for your project</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-start mt-3">
                    <span class="circleMd frontIcon m-2"><i class="fas fa-handshake"></i></span>
                    <h3 class="lead mt-3 text-light">Connect contacts to projects</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-start mt-3">
                    <span class="circleMd frontIcon m-2"><i class="fas fa-tasks"></i></span>
                    <h3 class="lead mt-3 text-light">Follow the progress for each contact in each project</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-start mt-3">
                    <span class="circleMd frontIcon m-2" style="height:50px;"><i class="fas fa-users"></i></span>
                    <h3 class="lead mt-3 text-light">Collaborate with your team to enhance efficiency</h3>
                </div>
            </div>
        </div>
        <!--<p class="mt-5"><a href="https://www.djangoproject.com/" class="btn pillLG btn-dark btn-large p-3">Learn more &raquo;</a></p>-->
    </div>
</div>



{% endblock %}
